name: Test, package

on:
    push:
    pull_request:
        branches:
            - "main"
            - "release/*"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Install Node.JS
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org/

            - name: Install dependencies
              run: yarn install

            - name: Run tests
              run: yarn test

            - name: Package to Javascript bundle
              run: yarn run build

            - uses: actions/upload-artifact@v4
              with:
                  name: bundle
                  path: "userscript/index.user.js"
